<form method="post" action="{{ path('oeuvre_delete', {'id': oeuvre.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ oeuvre.id) }}">
    <button class="btn">Delete</button>
</form>
