{% extends 'base.html.twig' %}

{% block title %}Oeuvre{% endblock %}

{% block body %}
    <h1>Oeuvre</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ oeuvre.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ oeuvre.title }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('oeuvre_index') }}">back to list</a>

    <a href="{{ path('oeuvre_edit', {'id': oeuvre.id}) }}">edit</a>

    {{ include('oeuvre/_delete_form.html.twig') }}
{% endblock %}
